{%include 'header.html'%}



<script>
    const posterCentralTelneg = "{{url_for('static', filename='images/poster_central_telneg.jpg')}}";
    const posterCentralApesardeti = "{{url_for('static', filename='images/poster_central_apesardeti.jpg')}}";
    const posterCentralPawpatrol = "{{url_for('static', filename='images/poster_central_pawpatrol.jpg')}}";
    const posterTelneg = "{{url_for('static', filename='images/poster_telefono_negro.jpg')}}";
    const posterPawpatrol = "{{url_for('static', filename='images/paw_patrol_70px.jpg')}}";
    const posterApesardeti = "{{url_for('static', filename='images/poster_apesardeti.jpg')}}";    

    
</script>

<script>
    const asientos_ocupados = {{ ocupados|tojson }};
</script>


<div class="container">
    <!--izquierda-->
    <div class="panel-izq">
        <div class="movie-list" id="movieList">
            <!-- peliculas -->
        </div>

        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" placeholder="Ingresa tu nombre">

        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Ingresa tu email">

        <label for="asiento">Asiento</label>
        <input type="text" id="asiento" readonly>

        <label for="precio">Precio</label>
        <input type="number" id="precio" readonly>

        <button class="btn-guardar" id="btnGuardar">GUARDAR</button>
    </div>

    <!-- panel central -->
    <div class="panel-centro">
        <div class="screen-title">PANTALLA</div>
        <div class="screen-image" id="screenImage">
            <img  id="central-poster">
        </div>
        <div class="room-title" id="movieTitleCenter">El teléfono descompuesto</div>
        <div id="movieTimeCenter">2:00 pm</div>

        <div class="seats-grid" id="seatsGrid">
            <!-- asientos -->
        </div>

        <div class="legend">
            <div class="legend-item">
                <div class="legend-color legend-sel"></div> Seleccionado
            </div>
            <div class="legend-item">
                <div class="legend-color legend-dis"></div> Disponible
            </div>
            <div class="legend-item">
                <div class="legend-color legend-ocu"></div> Ocupado
            </div>
        </div>
    </div>

    <!-- panel derecho -->
    <div class="panel-der">
        <div class="alerta" id="alerta">
            <div class="alerta-title">Seleccione un asiento</div>
        
        </div>
    </div>
</div>

<script src="{{url_for('static', filename='js/cine.js')}}"></script>

</body>
</html>

